<!--{% load static %}-->
<!DOCTYPE HTML>

<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Furever Friends home page" />
		<title>Furever Friends - A Rescue Pet Adoption Service</title>
		<link rel="stylesheet" href="fureverstyle.css"/> <!--{% static 'styles/fureverstyle.css' %} -->
	</head>
		
		<body>
			<div>

				<div id="header-logo">
					<a href="index.html"><img src="images/logo-subtitle.png" alt="logo"></a>
				</div>

				<nav class="container">
					<ul>
						<li><a href="login.html">Login</a></li>
						<li><a href="about-us.html">About Us</a></li>
						<li><a href="contact-us.html">Contact Us</a></li>
					</ul>
				</nav>

				<section class="banner-container">
				<h1>Welcome to Furever Frineds</h1>
					<p>Search for your right pet, add pets to favourites, adopt and save a life today!</p>
					<a href ="#"><input type="button" class="button" value="Register Now!"></a>
				</section>
				
			</div>
			
			<section id="one" class="wrapper">
				<div style="position: relative; text-align: center;">
					
					<div class="box-1" >
						<h3>&#128062;Sad Reality</h3>
						<p style="text-align: justify;">In a time where pets in shelters are increasing in numbers and too few people consider adoption, 
							an excessive number of abandoned pets are in shelters all around the country. In Australia between 2018 and 2019, 33,863 
							dogs were received by the RSPCA, along with 51,170 cats, and 39,113 other animals. Of these, 4,308 dogs, 11,740 cats, and 
							19,541 other animals were euthanised (RSPCA 2019). The potential benefits of our application "Furever Friends" are the 
							reduction of these numbers.</p>
					</div>

					<div class="box-1">
						<h3>&#128062;Business Problem</h3>
						<p style="text-align: justify;"> 
							Part of the problem is due to too many people who are uneducated about pet ownership 
							and don’t consider the responsibilities that come with it. We are aiming to address both of these underlying
							problems, by implementing a system to provide people with a platform to search for, and adopt their pets of 
							choice in a simple process, while attempting to filter out unsuitable pet owners.</p>
					</div>
					
						
					<div class="box-1">
						<h3>&#128062;Our Solution</h3>
						<p style="text-align: justify;">
							Our match-making system "Furever Friends" aims to help reduce euthanized pets by making the adoption process
							easier for people to adopt pets in shelters instead of buying them elsewhere. Our system also aims to reduce animal
							neglect by educating people who may be less aware of the responsibilities, so that they may seek to learn more about
							their pet’s welfare.</p>
					</div>
				</div>
			</section>

			<!-- Two -->
				<section id="two" class="wrapper style1 special">
					<div class="inner">
						<header>
							<h2>Top Favourited Pets*</h2>
						</header>
						<div class="search-results" id="bottom" style="position: relative; margin: auto; text-align: center;">
							
							{% for random in pets %}
							<div class="box pet"style="display: inline-block">
								<div class="image round">
									<img src="{{ random.image.url }}" alt="random.petname" style="width:200px;height:200px;"/>
								</div>
								<h3>{{ random.petname|capfirst }}</h3>
								<a href="{% url 'petProfileGuest' random.pet_id %}">View Profile</a>
							</div>
							{% endfor %}
						</div>
					</div>
				</section>

				<script>
					$("a[href='#bottom']").click(function() {
					$("html, body").animate({ scrollTop: document.body.scrollHeight }, "slow");
					return true;
				});

				</script>


			<footer>
				<p>©FureverFriends 2020</p>
			</footer>
				
		</body>
	</html>
