 <!--{% load static %}-->
 <!DOCTYPE HTML>

<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Furever Friends home page" />
		<title>Furever Friends - A Rescue Pet Adoption Service</title>
		<link rel="stylesheet" href="fureverstyle.css"/><!--{% static 'styles/fureverstyle.css' %} -->
	</head>
		
		<body>
				<div id="header-logo">
					<a href="index.html"><img src="images/logo-subtitle.png" alt="logo"></a>
				</div>

				<nav class="topnav" id="myTopnav">
					<ul>
						<li><a href="search.html" class="selected">Search Pets</a></li>
						<li><a href="profile.html">My Profile</a></li>
						<li><a href="favorites.html">My Favorites</a></li>
						<li><a href="index.html">Logout</a></li> 
						
						<a href="#" class="icon" onclick="myFunction()">
							<i class="fa fa-bars"></i>
						</a>

					</ul>
                </nav>
				
                <main class="container"> 
				<h1>Furever Match &#128062;</h1>
                    <div class="search-card" style="width:400px; position: relative;">

                        <h1 style="text-align:center;">Filter</h1>
                        <div style="margin:0 auto; text-align: center;">
                            <form action="searchPet" method="post">
                                <!-- {% csrf_token %} -->
								
								<label for="type">&#128062;Choose the Pet type:</label>
                                <select name="type" id="type" required>
									<option selected value="1">Dog</option>
									<option value="2">Cat</option>
									<option value="3">Other</option>	
								</select><br><br>
								
								<label for="age">&#128062;Choose the Pet age:</label>
								<select name="age" id="age" required>
									<option selected value="1">Up to 1 year</option>
									<option value="2">1-5 years old</option>
									<option value="3">5+</option>	
								</select><br><br>
								
								<label for="size">&#128062;Choose the Pet size:</label>
								<select name="size" id="size" required>
									<option selected value="1">Small</option>
									<option value="2">Medium</option>
									<option value="3">Large</option>	
								</select><br><br><br><br>
                                <input type="button" value="Search" id="search-button"> <!-- might need to change to button-->
                            </form>
                        </div>

                       <!-- <div>
                            {% for message in messages %}
                            <h3> {{message}} </h3>
                            {% endfor %}
                        </div>-->

                    </div>
					
					<div class="search-results" style="position: relative; display: none; margin: auto; text-align: center;">

                        <br>
						<h1 style="text-align:center;">Search Results &#128062;</h1>
						
							<div class="box pet"style="display: inline-block">
								<div class="image round">
									<img src="images/pic03.jpg" alt="Pet 1" style="width:200px;height:200px;"/>
								</div>
								<h3>Mr Snuggles</h3>
								<a href="#">View Profile</a>

							</div>
							
							<div class="box pet" style="display: inline-block">
								<div class="image round">
									<img src="images/pic04.jpg" alt="Pet 2" style="width:200px;height:200px;" />									
								</div>
								<h3>Snowy</h3>
								<a href="#">View Profile</a>
							</div>
							
							<div class="box pet" style="display: inline-block">
								<div class="image round">
									<img src="images/pic05.jpg" alt="Pet 3" style="width:200px;height:200px;"/>
								</div>
								<h3>Lassy</h3>
								<a href="#">View Profile</a>

							</div>
					</div>
					
					

                </main>
			
				
				<script>
				document.getElementById("search-button").addEventListener("click", function(){
                    document.querySelector(".search-results").style.display = "block"});

					
				function myFunction() {
				  var x = document.getElementById("myTopnav");
				  if (x.className === "topnav") {
					x.className += "responsive";
				  } else {
					x.className = "topnav";
				  }
}
				</script>
                

        </body>
</html>
       
